<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%='hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde numquam a obcaecati consequatur nihil nam
        quam non dolore odit! Ullam eius, veritatis nemo debitis iste excepturi architecto id vitae.
        Nulla officia officiis rerum quia voluptate dolore fugit nisi repudiandae, quaerat quibusdam qui perferendis
        assumenda aspernatur facere reiciendis accusamus dolor itaque, cumque reprehenderit, impedit alias enim ratione
        in numquam. Magni.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde numquam a obcaecati consequatur nihil nam
        quam non dolore odit! Ullam eius, veritatis nemo debitis iste excepturi architecto id vitae.
        Nulla officia officiis rerum quia voluptate dolore fugit nisi repudiandae, quaerat quibusdam qui perferendis
        assumenda aspernatur facere reiciendis accusamus dolor itaque, cumque reprehenderit, impedit alias enim ratione
        in numquam. Magni.
    </p>
</body>

</html>