section{
    background-color: pink;
    width: 600px;
    height: 800px;
}

div{
    background-color: aliceblue;
    width: 20%;
    height: 75%;
    border:.1rem solid black; 
    border-radius:0 0 90% 90%;
    margin: 22rem;
}

.circle{
    width:300px;
    height: 300px;
    background-color: brown;
    border:0.5rem dashed black;
    transition: 1s;
    margin: 10px;
}

.circle:hover{
    background-color: orange;
    border-radius: 50%;
}